# Normalize line endings
* text=auto

# Ignore large generated HTML reports for GitHub language stats
*.html linguist-detectable=false

# Count Jupyter notebooks as Python
*.ipynb linguist-language=Python

# Prevent unreadable diffs
*.ipynb -diff
*.html -diff
*.pdf  binary
*.png  binary
*.jpg  binary

# Exclude Git config files from release archives
.gitattributes export-ignore
.gitignore     export-ignore
